<!DOCTYPE html>
<html lang="en">
<link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" ref="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/registration">Registration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item inactive">
                <a class="nav-link" href="/registration/users">Users</a>
            </li>
        </ul>
    </div>
</nav><br><br>
<main role="main" class="container">
    <h1 class="text-center">Registration Form</h1>
    <h2><span th:text="${error_message}"></span></h2>
        <form name="userForm" th:action="@{/registration/users/addUser}" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="email_address">Email address</label>
                <input type="email" class="form-control col-sm-2 col-form-label col-form-label-sm" id="email_address" aria-describedby="emailHelp" placeholder="Enter email" name="email_address" required>
            </div>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title"name="title" required>
            </div>
            <div class="form-group">
                <label for="first_name">first_name</label>
                <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="Enter first_name"name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">last_name</label>
                <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Enter last_name"name="last_name" required>
            </div>
            <div class="form-group">
                <label for="address_line_1">address_line_1</label>
                <input type="text" class="form-control" id="address_line_1" aria-describedby="emailHelp" placeholder="Enter address_line_1"name="address_line_1" required>
            </div>
            <div class="form-group">
                <label for="address_line_2">address_line_2</label>
                <input type="text" class="form-control" id="address_line_2" aria-describedby="emailHelp" placeholder="Enter address_line_2"name="address_line_2">
            </div>
            <div class="form-group">
                <label for="city">city</label>
                <input type="text" class="form-control" id="city" aria-describedby="emailHelp" placeholder="Enter city"name="city">
            </div>
            <div class="form-group">
                <label for="postcode">postcode</label>
                <input type="text" class="form-control" id="postcode" aria-describedby="emailHelp" placeholder="Enter postcode"name="postcode" required>
            </div>
            <div class="form-group">
                <label for="phone_number">phone_number</label>
                <input type="text" class="form-control" id="phone_number" aria-describedby="emailHelp" placeholder="Enter phone_number"name="phone_number">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</main>
</body>
</html>